.playlist-container {
    width: 250px; /* Adjust width as needed */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto; /* Makes the playlist section scrollable */
    padding: 20px;
    background-color: #f5f5f5; /* Background color of the sidebar */
  }
  
  .playlist-list {
    margin-bottom: 20px;
    list-style: none; /* Removes default list styling */
    padding: 0;
  }
  
  .playlist-list-item {
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Adds a line between items */
    cursor: pointer; /* Changes cursor to indicate item is clickable */
  }
  
  .playlist-list-item:hover {
    background-color: #eaeaea; /* Changes background on hover */
  }  
  
  .playlist-create-form {
    margin-top: 20px;
  }
  
  .playlist-create-form input {
    width: 100%;
    padding: 8px 16px 8px 8px; /* top, right, bottom, left */
    margin-bottom: 10px;
    /* Other styles */
  }
  
  
  .playlist-create-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Button color */
    color: white;
    border: none;
    cursor: pointer;
  }
  